$aspect-ratios: (
  "1.6x1": 62.11%,
  "4x3": calc(3 / 4 * 100%),
  "16x9": calc(9 / 16 * 100%),
  "21x9": calc(9 / 21 * 100%)
);

$champagne: hsla(52, 94%, 95%, 1);
$laurel-green: hsla(69, 18%, 65%, 1);
$lilac-luster: hsla(305, 11%, 61%, 1);
$english-violet: hsla(251, 19%, 29%, 1);
$black-olive: hsla(71, 11%, 87%, 1);


html {

}

body {
    background-color: $champagne;

}

#nav {
    

}

.row {
   
}

.card-header {
    color: white;
    
}

.card-footer {
    color: rgb(255, 233, 137);
}

.card {
    margin-right: 2%;
    margin-left: 2%;
    max-width: 30rem;
    
    min-height: 15rem;
    max-height: 48rem;
    background-color: $lilac-luster;
    color:hsla(251, 19%, 29%, 1);
    font-family: 'Montserrat-bold', sans-serif;
    
    margin-top: 4%;
}

.book {
    
    --bs-aspect-ratio: 62.11%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: $black-olive;
    color:hsla(251, 19%, 29%, 1);
    font-family: 'Montserrat', sans-serif;

}

#book-container {
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 6%;
}
#read-btn {
    
}

.remove-book-btn {
  color: gold;
}


.form-off {
    visibility: hidden;
}


#form-container {
   
}
#new-book-form {
    
}
#new-book-btn {
   
}

#new-book-submit {
 
}

#form-close {
 
}

.form-entry {
   
}

#read,
#not-read {
    
}


 /* #read {
    appearance: none;
    border-style: solid;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px -12px rgba(0,0,0,0.05);
    background-color: #fafafa;
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    
} */

/* #read:checked:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    
    background: #686e74;
    box-shadow:  0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 2.6px;
}

#read:checked {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

#read:active, 
#read:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);

}  */




