$powder-sky: rgb(98, 143, 146);
$laurel-green: rgba(90, 172, 90, 0.76);
$lilac-luster: rgb(201, 165, 176);
$english-violet: hsla(251, 19%, 29%, 1);
$black-olive: rgba(21, 46, 32, 0.74);
$pink-moon: rgb(248, 238, 238);

$xiketic: hsla(283, 16%, 8%, 1);
$midnight-green-eagle-green: hsla(191, 48%, 25%, 1);
$icterine: hsla(61, 83%, 66%, 1);
$mango-tango: hsla(23, 86%, 59%, 1);
$dark-purple: hsla(328, 58%, 12%, 1);


body {
    background-color: $icterine;

}




#nav {
    background-color:$xiketic;
    padding-left: 3%;
    box-shadow: -10px -5px 8px 4px black;

}

.book-title {
    color: whitesmoke;

}

.card-footer {
    color: rgb(252, 248, 231);
}

.card {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 4%;
    min-height: 15rem;
    max-height: 48rem;
    background-color: $midnight-green-eagle-green;
    color:rgb(95, 88, 128);
    border-style: solid;
    border-color: $mango-tango;
    box-shadow: 3px -2px 3px 1px $mango-tango;
    font-family: 'Montserrat-bold', sans-serif;
    font-size: 1.01rem;
    display: flex;
    justify-content: center;

}

.card:hover {
    transform: scale(1.1);
}


.book {

    --bs-aspect-ratio: 62.11%;
    margin-right: 2%;
    margin-left: 2%;
    background-color: $black-olive;
    color:hsla(251, 19%, 29%, 1);
    font-family: 'Montserrat', sans-serif;

}

#book-container {
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 6%;
}
.read-btn {
    color: rgb(129, 252, 125);

}

.remove-book-btn {
    display: none;
}

.card:hover .remove-book-btn {
    display: block;
}


.form-off {
    visibility: hidden;
    margin-top: 1000px;
}

#new-book-form {
    padding: 1rem 0 1rem 1rem;
    z-index: 3;
    border-radius: 5px;
    background-color: $black-olive;
    color: $pink-moon;
}
#new-book-btn {
   color: white;
   border-color: white;
}

#new-book-submit {

    margin-left: 11.5rem;
    margin-top: 1rem;
    color: $pink-moon;

}

#form-close {
    margin-left: 17.5rem;
    margin-bottom: 1.5rem;
    color: $pink-moon;
}