html {
  
}

#nav {
    position: fixed;
    width: 800px;
    height: 20px;
    display: flex;
    
    border-style: solid;
    border-color: black;
    border-width: 5px;
    padding: 10px;

}

.book {
    display: flex;
    padding: 20px;
    height: 100px;
    width: 300px;
    border-style: solid;
    border-color: black;
    resize: both;    
}

#book-container {
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 20%;
    z-index: 0;
    padding-top: 80px;
    gap: 15px;
}
#read-btn {
    
}

#remove-book-btn {
    width: 20px;
    height: 20px;
}


.form-off {
    background-color: rgba(0,0,0,0);
    visibility: hidden;
    
}

#form-container {
    width: 100vmax ;
    height: 100vmax;
    z-index: 1;
    margin-top: -315px;
}
#new-book-form {
    position: fixed;
    margin-top: 20%;
    font-size: 1.2rem;
    margin-right: 50%;
    margin-left: 30%;
    background: rgba(223, 223, 223, 0.812);
    padding: 50px;
    margin-bottom: 50%;

    
    z-index: 1;
}
#new-book-btn {
   
}

#new-book-submit {
    margin-top:40px;
}

#form-close {
    margin-left: 250px;
    margin-top: -50px;
    margin-bottom: 40px;
}

.form-entry {
    width: 200px;
    display: flex;
    padding: 5px;
    margin-top: 20px;
}

#read,
#not-read {
    margin-top: 7px;
}


/* #read {
    appearance: none;
    border-style: solid;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px -12px rgba(0,0,0,0.05);
    background-color: #fafafa;
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    
}

#read:checked:after {
    content: ' ';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    
    background: #686e74;
    box-shadow:  0px 0px 10px rgba(0,0,0,0.3);
    text-shadow: 0px;
    left: 2.6px;
}

#read:checked {
    background-color: #e9ecee;
    color: #99a1a7;
    border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1), inset 0px 0px 10px rgba(0,0,0,0.1);
}

#read:active, 
#read:checked:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);

} */




